<% include partials/header %>

<div class="container-fluid text-center">
    <header class="jumbotron">
        <h1 >Welcome to Yelp Camp</h1>
        <p >View The World's Most Astonishing Animals on Our Camp</p>
        <a href="/camp" role="button" class="btn btn-dark btn-lg text-center">View Camps</a>
    </header>
</div>
<% include partials/footer %>