<% include partials/header %>

<div class = "container-fluid">
    
    <div class = "jumbotron">
        <h1 class="text-center">Add New Camps</h1>
    </div>

    <form action="/camp" method="POST">
        <div class = "form-row">
            <div class = "form-group col-md-2 col-sm-6 mx-auto">
                <input class = "form-control mt-3" type="text" name="name" placeholder = "Name of Camp">
                <input class = "form-control mt-3" type="text" name="img" placeholder = "Image URL">
                <button class = "btn btn-primary btn-block mt-3 mb-2">Submit</button>
                <a  href="/camp">Go Back</a>
            </div>
        </div>
    </form>
</div>

<% include partials/footer %>