<% include ../partials/header %>
	<div class="container-fluid  pt-5">
		<div class="jumbotron text-center">
			<h2>Dispatch Info</h2>
			<h4>At FUJI Con, We work Rigorously for timely Dispatch to satisfy our Customers</h4>
		</div> <!-- Jumbotron Ends -->
		<% include ../partials/calendar-add-up %>
		<% include ../partials/dispatch-table-partials/table-header %>
	</div>
<% include ../partials/footer %>